<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What is going on on this SINGLE</title>
</head>
<body>
    <h2>Single post view</h2>
    
    <main>
        <h1>Title</h1>
        <h3>Author</h3>
        <p>Body</p>
    </main>
</body>
</html>